# --- ML ---
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# --- API FastAPI ---
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic==2.7.1

# --- Utils ---
requests==2.31.0

# --- Visualisation (Phase 2 EDA) ---
matplotlib==3.8.4
